<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SysUserMapper" >
	<sql id="sys_user_column">
	sys_user.USER_ID,
	sys_user.LOGIN_NAME,
	sys_user.LOGIN_PWD,
	sys_user.USER_NAME,
	sys_user.STATUS,
	sys_user.LAST_LOGIN_TIME,
	sys_user.LAST_LOGIN_IP,
	sys_user.CREATE_TIME,
	sys_user.EMAIL,
	sys_user.TEL,
	sys_user.ROLE_ID
	</sql>
	<sql id="sys_user_property">
	#{userId},
	#{loginName},
	#{loginPwd},
	#{userName},
	#{status},
	#{lastLoginTime},
	#{lastLoginIp},
	#{createTime},
	#{email},
	#{tel},
	#{roleId}
	</sql>
	
    <resultMap type="SysUser" id="SysUserResult">
   	<result property="userId" column="USER_ID"/>
   	<result property="loginName" column="LOGIN_NAME"/>
   	<result property="loginPwd" column="LOGIN_PWD"/>
   	<result property="userName" column="USER_NAME"/>
   	<result property="status" column="STATUS"/>
   	<result property="lastLoginTime" column="LAST_LOGIN_TIME"/>
   	<result property="lastLoginIp" column="LAST_LOGIN_IP"/>
   	<result property="createTime" column="CREATE_TIME"/>
   	<result property="email" column="EMAIL"/>
   	<result property="tel" column="TEL"/>
   	<result property="roleId" column="ROLE_ID"/>
    </resultMap>
    
    <!-- 添加用户 -->
    <insert id="createSysUser" parameterType="SysUser" useGeneratedKeys="true" keyColumn="USER_ID" keyProperty="userId">
    	INSERT INTO sys_user(<include refid="sys_user_column"/>)
    	VALUE(<include refid="sys_user_property"/>)
    </insert>
    
    <!-- 修改用户 -->
    <update id="updateSysUser" parameterType="SysUser">
    	UPDATE sys_user SET 
		sys_user.USER_NAME=#{userName},
		sys_user.EMAIL=#{email},
		sys_user.TEL=#{tel},
		sys_user.ROLE_ID=#{roleId}
		WHERE
    	sys_user.USER_ID=#{userId}
    </update>
    
    <!-- 根据ID，查询用户信息 -->
    <select id="querySysUserByUserId" parameterType="int" resultMap="SysUserResult">
    	SELECT <include refid="sys_user_column"/> FROM sys_user WHERE sys_user.USER_ID=#{value}
    </select>
    
    <!-- 分页查询用户列表 ，开始-->
    <select id="querySysUserPage" parameterType="java.util.Map" resultMap="SysUserResult">
    	SELECT <include refid="sys_user_column"/> FROM sys_user
    	<where>
    	sys_user.STATUS!=2 
    	<if test="e.keyWord!=null and e.keyWord!=''">
    	AND(sys_user.LOGIN_NAME LIKE CONCAT('%',#{e.keyWord},'%') OR sys_user.EMAIL LIKE CONCAT('%',#{e.keyWord},'%'))
    	</if>
    	</where>
    	ORDER BY sys_user.USER_ID 
    	<include refid="publicMapper.pageEnd"/>
    </select>
    <select id="querySysUserPageCount" parameterType="java.util.Map" resultType="int">
    	SELECT COUNT(1) FROM sys_user
    	<where>
   		sys_user.STATUS!=2
   		<if test="e.keyWord!=null and e.keyWord!=''">
    	AND(sys_user.LOGIN_NAME LIKE CONCAT('%',#{e.keyWord},'%') OR sys_user.EMAIL LIKE CONCAT('%',#{e.keyWord},'%'))
   		</if>
    	</where>
    </select>
    <!-- 分页查询用户列表 ，结束-->
    
    <select id="validateLoginName" parameterType="java.lang.String" resultType="int">
    	SELECT COUNT(1) FROM sys_user WHERE sys_user.LOGIN_NAME=#{valeu}
    </select>
    
    <!-- 查询登录用户 -->
    <select id="queryLoginUser" parameterType="SysUser" resultMap="SysUserResult">
    	SELECT <include refid="sys_user_column"/> FROM sys_user
    	WHERE sys_user.LOGIN_NAME=#{loginName} AND sys_user.LOGIN_PWD=#{loginPwd}
    </select>
    
    <!-- 修改用户密码 -->
    <update id="updateUserPwd" parameterType="SysUser">
    	UPDATE sys_user SET sys_user.LOGIN_PWD=#{loginPwd} WHERE sys_user.USER_ID=#{userId}
    </update>
    
    <!-- 禁用或启用后台用户 -->
    <update id="updateDisableOrstartUser" parameterType="java.util.Map">
    	update sys_user SET 
    	<if test="type==1">
    	sys_user.STATUS=0
    	</if>
    	<if test="type==2">
    	sys_user.STATUS=1
    	</if>
		<if test="type==3">
			sys_user.STATUS=2
		</if>
    	WHERE sys_user.USER_ID=#{userId}
    </update>
    
    <!-- 更新用户最后登录的时间和IP -->
    <update id="updateUserLoginLog" parameterType="java.util.Map">
    	UPDATE sys_user SET sys_user.LAST_LOGIN_IP=#{ip} ,sys_user.LAST_LOGIN_TIME=#{time}
    	WHERE sys_user.USER_ID=#{userId}
    </update>
</mapper>